
html{
    scroll-behavior: smooth;
}

.active-link{
    background-color: #475569;
    outline: 1px solid #E2E8F0;
}

.dark .active-link{
    background-color: #E2E8F0;
    outline: 1px solid #0F172A;
}

#landing-pic-container{
    clip-path: circle(45%);
}

#client-img-container{
    
    width: 90px;
    height: 90px;
    overflow: hidden;
    clip-path: circle(47%);
}

#client-img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.scroll-css{
    transition: transform 1s ease-out;
    animation: scroll-it 3s infinite;
   
}

.about-pic-css{
    width: 370px;
    height: 333px;
    overflow: hidden;
    clip-path: circle(45%);
}

body{
    background: #020024;
  background: linear-gradient(124deg, rgba(2,0,36,1) 67%, rgba(1,87,126,1) 100%, rgba(1,94,133,1) 100%, rgba(0,212,255,1) 100%);
}

.dark body{
    background: initial;
}

/* .dynamic-texts{
    height: 26px;
    overflow: hidden;
} */


/* .dynamic-texts li{
    position: relative;
    top: 0;
    animation: slide 9s steps(3) infinite;
} */

/* @keyframes slide {
    100%{
        top: -83px;
    }
} */



/* .css-text{
    position: relative;
}

.css-text::before{
    content: "";
    position: absolute;
   
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(2, 0, 36);
    border-left: 2px solid white;
    animation: animate 3s steps(28) infinite;
} */

.dark .css-text::before{
    background-color: rgb(241, 245, 249);
}

.dark .css-text::before{
    border-left: 2px solid black;
}

.slick-dots li.slick-active button:before {
    color:White !important;
}

.dark .slick-dots li.slick-active button:before {
    color:black !important;
}

.slick-thumb li button::backdrop{
    color: white !important;
}




@keyframes animate {
    40%, 60%{
        left: calc(100% + 3px);
    }
    100%{
        left: 0%;
    }
}

@keyframes scroll-it {
    0%{
        transform: translateY(-3px);
    }50%{
        transform: translateY(12px);
    } 100%{
        transform: translateY(-3px);
    }
}








